@import "_mixin";
@import "_variables";

*{
    margin: 0;
    padding: 0;
}

.contenedor{
    max-width: 1100px;
    margin: 0 auto;
    height: 100vh;
}

.principal{
    display: grid;
    grid-template-columns: 1fr;
      @include dispositivos($mobile){
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 15% 35% 35% 15%;
      }
  

    header{
        background-color: orangered;
            grid-row-start:1;
            grid-row-end:2;
            grid-column-start: 1;
            grid-column-end:5;
     
    }

     main{
        background-color: brown;
        @include dispositivos($mobile){
            grid-row-start:2;
            grid-row-end:4;
            grid-column-start:1;
            grid-column-end:4;
         }
        
    }  

    aside{
        background-color: green;
        @include dispositivos($mobile){
            grid-row-start:2;
            grid-row-end:4;
            grid-column-start: 4;
            grid-column-end:5;
        }
    }

    footer{
        background-color: blue;
          @include dispositivos($mobile){
            grid-row-start:4;
            grid-row-end:5;
            grid-column-start:1;
            grid-column-end:5;
            
        }
        
    }
}




